:root {
  --bege-café: #c4a47c;
  --marrom-cafe: #604829;
  --cinza-escuro: #666;
  --cinza-claro: #acacac;

  --display: "Fraunces", serif;
  --titulo: "Oswald", sans-serif;
  --texto: "Lato", sans-serif;
}

/*elementos globais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/*topo*/

header {
  background-color: var(--marrom-cafe);
  height: 100px;
  width: 100%;
  position: fixed;
  margin-bottom: 150px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  height: 100%;
}

nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
}

ul li {
  text-decoration: none;
  font-family: var(--titulo);
}

header a {
  color: var(--bege-café);
  text-decoration: none;

  padding: 10px;
  font-size: 18px;
  text-shadow: 3px 3px 2px black;
}

/*banner*/

.inicio {
  background-image: url(img/parallax-imagem1.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio h1 {
  padding: 0 10px;
  color: white;
  text-align: center;
  font-family: var(--display);
  font-size: 80px;
}

/* seçoes paralax*/
.secao-paralax {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* informacoes*/

.informacoes {
  background-color: white;
  padding: 80px 0px;
}

.informacoes h2 {
  color: var(--bege-café);
  font-family: var(--titulo);
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0px;
}

.informacoes p {
  color: var(--cinza-escuro);
  font-family: var(--texto);
  line-height: 36px;
  letter-spacing: 1.5px;
  max-width: 1024px;
  text-align: center;
  margin: auto;
  padding: 0px 20px;
}

.info-paralax {
  height: 50vh;
  position: relative;
}

.info-paralax h3 {
  color: white;
  font-family: var(--display);
  font-size: 24px;
  font-weight: normal;
  background-color: var(--marrom-cafe);
  width: 500px;
  padding: 10px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}

article .secao-paralax:nth-child(2) {
  background-image: url(img/parallax-imagem2.jpg);
}

article .secao-paralax:nth-child(4) {
  background-image: url(img/parallax-imagem3.jpg);
}

/* contato*/

.contato {
  height: 85vh;
  background-image: url(img/parallax-imagem4.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contato h2 {
  color: white;
  font-family: var(--titulo);
  font-size: 24px;
  letter-spacing: 4px;
  max-width: 500px;
  padding: 10px;
  background-color: var(--marrom-cafe);
  text-align: center;
  margin: auto;
}

.contato div {
  width: 500px;
  padding: 10px;
  background-color: var(--marrom-cafe);
  margin: auto;
}

.contato div p {
  text-align: center;
  font-family: var(--titulo);
  font-size: 16px;
  text-shadow: 0px 5px 5px black;
}

.contato iframe {
  margin: auto;
  width: 50%;
  min-width: 500px;
}

.contato div a {
  text-decoration: none;
  color: white;
}

.contato a:hover {
  text-decoration: underline;
}

/*horarios*/

.horario {
  background-image: url(img/cafeteria.jpg);
  color: white;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horario h2 {
  margin-bottom: 30px;
}

.lista-horario {
  width: 100%;
  max-width: 768px;
}

.lista-horario li {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lista-horario li h3 {
  flex: 0 1 80px;
}

.lista-horario li div {
  height: 2px;
  background-color: var(--cinza-claro);
  flex: 1 1 auto;
}

.lista-horario li span,
p {
  flex: 0 1 100px;
  text-align: right;
}

.lista-horario li span {
  color: var(--bege-café);
}

/*footer*/

footer {
  background-color: black;
  padding: 40px 0px;
  position: relative;
}

footer p {
  color: white;
  font-family: var(--texto);
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

footer span {
  color: var(--bege-café);
  font-weight: normal;
}

footer a {
  position: absolute;
  right: 50px;
  bottom: 80px;
}

footer img {
  width: 60px;
  height: 60px;
}
